<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>aula8-node</title>
  </head>
  <body>
  <form action="./cad" method="post">
    <h1>Página inicial</h1>
    <button type="submit">formulário de inserção</button>
  </form>
  </body>
</html>
