<form action="./form" method="post">
  <h1>Cadastro de Dados:</h1>
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Conteudo:</p>
    <textarea name="conteudo"></textarea><br><br>
    <button type="submit">Cadastrar Postagens</button>
</form>
