<h3>Nova Categoria:</h3>
<div class="card">
<div class="card-body">
<form action="/admin/categorias/nova" method="post">
  <label for="nome">Nome:</label>
    <input type="text" id="nome" class="form-control" name="nome" placeholder="Nome da Categoria">
  <label for="slug">Slug:</label>
    <input type="text" id="slug" class="form-control" name="slug" placeholder="SLug da Categoria">
<button type="submit" class="btn btn-success mt-2">Ciar Categoria</button>
</form>
</div>
</div>
